{% extends 'default.html' %}
{% load static %}
<link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fonts/PT-Astra-Sans_Regular.ttf' %}" rel="stylesheet">

{% block content %}
<h1>Тип управляемого моста</h1>
<hr>
<div id="teams_form">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_div }}
        <input class="input_button" type="submit" value="Save" />
    </form>
    <form method="LINK" action="/machines/list">
    <input class="input_button"  type="submit" value="Назад">
</form>
</div>
{% endblock content %}