{% extends 'default.html' %}
{% load static %}
<link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fonts/PT-Astra-Sans_Regular.ttf' %}" rel="stylesheet">

{% block title %}
typemachine
{% endblock title %}


{% block content %}
<h2>---{{ typemachine.name }}---</h2>
<h1>{{ typemachine.description }}</h1>
<form method="LINK" action="{% url 'typemachine_delete' pk=typemachine.pk %}">
    <input class="input_button"  type="submit" value="Удалить">
</form>
{% endblock content %}