@font-face {
  font-family: 'bold';
  src: url('../fonts/PT-Astra-Sans_Bold.woff') format('woff');
  font-display: swap;
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'bold-italic';
  src: url('../fonts/PT-Astra-Sans_Bold-Italic.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'italic';
  src: url('../fonts/PT-Astra-Sans_Italic.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'regular';
  src: url('../fonts/PT-Astra-Sans_Regular.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

:root {
    --main-color-1: #163E6C;
    --main-color-2: #D20A11;
    --main-color-3: #EBE6D6;
    background: var(--main-color-3);
    font-family: 'regular', sans-serif;
    color: var(--main-color-1);
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

html, body {
  height: 100%;
}

.conteiner {
    width: 100%;
    min-height: 93px;
    display: flex;
    flex-direction: row;
}

.header {
    width: 100%;
    min-height: 93px;
    background-color: var(--main-color-2);
    font-family: 'bold-italic', sans-serif;
    justify-content: space-around;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 22px;
}

.inner-header {
    background-color: var(--main-color-2);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 55px;
    font-family: 'bold-italic', sans-serif;
    justify-content: space-around;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 22px;
}

.inner-header-b {
    background-color: var(--main-color-2);
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-template-rows: 55px;
    font-family: 'bold-italic', sans-serif;
    justify-content: space-around;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 22px;
}


.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
    min-height: 55px;
    background-color: var(--main-color-2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'italic', sans-serif;
    color: var(--main-color-1);
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.contact {
    font-family: 'italic', sans-serif;
    font-size: 18px;
    text-align: center;
}

.login-out {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.inner-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.find {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
    font-size: 22px;

}

.find-input {
    size: 36px;
    height: 20px;
    width: 80px;
    border: 3px solid var(--main-color-1);
    border-radius: 5px;
}

.auth {
    align-items: end;
}

.title {
    align-self: flex-end;
}

h1 {
    margin: 1rem 1rem 1rem 1rem;
    text-align: center;
}

h2 {
    text-align: center;
}

.conteiner-h2 {
    margin: 1% 0 0 0;
    text-align: left;
}

.line  {
    margin: 1% 0 0 0;
    border-top: 2px dashed var(--main-color-1);
    height: 18px;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

h3 {
    text-align: left;
}

h4 {
    text-align: center;
}

h5 {
    text-align: center;
}

h6 {
    text-align: center;
}

.image {
    display: block;
    margin: 0 auto;
}

.table_dark {
    text-align: left;
    border-collapse: separate;
    border-spacing: 3px;
    background: var(--main-color-2);
    color: var(--main-color-1);
    border: 10px solid var(--main-color-2);
    border-radius: 20px;
}
.table_dark th {
    font-size: 18px;
    padding: 10px;
}
.table_dark td {
    background: var(--main-color-3);
    padding: 10px;
}

#teams_form {
    position: absolute;
    width: 200px;
    height: 150px;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -100px;

}

.resp-tab {
    border-radius: 5px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
}
.resp-tab th, .resp-tab td {
    padding: 10px 10px;
    font-size: 13px;
    border: none;
    border: 1px solid var(--main-color-1);
    vertical-align: top;
}
.resp-tab th {
    color: var(--main-color-1);
    background: var(--main-color-2);
    font-weight: bold;
    border: 1px solid #1a4a73;
    text-transform: uppercase;
    text-align: center;
}

.resp-tab td span {
    background: var(--main-color-2);
    color: var(--main-color-1);
    display: none;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    left: 0;
}
@media(max-width: 1080px) {
    .resp-tab thead {
        display: none;
    }
    .resp-tab tr {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
    .resp-tab td {
        margin: 0 -1px -1px 0;
        padding-top: 35px;
        position: relative;
        width: 50%;
    }
    .resp-tab td span {
        display: block;
    }
}
@media(max-width: 480px) {
    .resp-tab td {
        width: 100%;
    }
}

.del1 { display: none; }
.del1:not(:checked) + label + * { display: none; }
.del1:not(:checked) + label,
.del1:checked + label {
display: inline-block;
padding: 2px 10px;
border-radius: 2px;
color: var(--main-color-3);
background: var(--main-color-2);
cursor: pointer;
}
.del1:checked + label {
background: var(--main-color-1);
}

.del2 { display: none; }
.del2:not(:checked) + label + * { display: none; }
.del2:not(:checked) + label,
.del2:checked + label {
display: inline-block;
padding: 2px 10px;
border-radius: 2px;
color: var(--main-color-3);
background: var(--main-color-2);
cursor: pointer;
}
.del2:checked + label {
background: var(--main-color-1);
}

.del3 { display: none; }
.del3:not(:checked) + label + * { display: none; }
.del3:not(:checked) + label,
.del3:checked + label {
display: inline-block;
padding: 2px 10px;
border-radius: 2px;
color: var(--main-color-3);
background: var(--main-color-2);
cursor: pointer;
}
.del3:checked + label {
background: var(--main-color-1);
}

.del4 { display: none; }
.del4:not(:checked) + label + * { display: none; }
.del4:not(:checked) + label,
.del4:checked + label {
display: inline-block;
padding: 2px 10px;
border-radius: 2px;
color: var(--main-color-3);
background: var(--main-color-2);
cursor: pointer;
}
.del4:checked + label {
background: var(--main-color-1);
}

.del5 { display: none; }
.del5:not(:checked) + label + * { display: none; }
.del5:not(:checked) + label,
.del5:checked + label {
display: inline-block;
padding: 2px 10px;
border-radius: 2px;
color: var(--main-color-3);
background: var(--main-color-2);
cursor: pointer;
}
.del5:checked + label {
background: var(--main-color-1);
}

.del6 { display: none; }
.del6:not(:checked) + label + * { display: none; }
.del6:not(:checked) + label,
.del6:checked + label {
display: inline-block;
padding: 2px 10px;
border-radius: 2px;
color: var(--main-color-3);
background: var(--main-color-2);
cursor: pointer;
}
.del6:checked + label {
background: var(--main-color-1);
}

.del7 { display: none; }
.del7:not(:checked) + label + * { display: none; }
.del7:not(:checked) + label,
.del7:checked + label {
display: inline-block;
padding: 2px 10px;
border-radius: 2px;
color: var(--main-color-3);
background: var(--main-color-2);
cursor: pointer;
}
.del7:checked + label {
background: var(--main-color-1);
}

.del8 { display: none; }
.del8:not(:checked) + label + * { display: none; }
.del8:not(:checked) + label,
.del8:checked + label {
display: inline-block;
padding: 2px 10px;
border-radius: 2px;
color: var(--main-color-3);
background: var(--main-color-2);
cursor: pointer;
}
.del8:checked + label {
background: var(--main-color-1);
}

.input_button {
    display: block;
    margin: 0 auto;
    background-color: var(--main-color-3);
    border-radius: 4px;
    border: 2px solid var(--main-color-1);
    color: var(--main-color-1);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
}

.input_button:hover {
  background-color: var(--main-color-1);
  color: var(--main-color-3);
}